<h1>New Document</h1>

<%# render 'form', document: @document %>
<%= form_with(model: @document, url: group_report_documents_path, method: "post") do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
      <%= form.label :content %>
      <%= form.text_area :content %>
</div>

  <div class="actions">
    <%= form.submit "Create" %>
  </div>


<% end %>

<%= link_to 'Back', group_report_path(@group_id,@report_id) %>
