<h1>Editing Report</h1>

<%# render 'form', report: @report %>
<%= form_with(model: @report, url: group_report_path, method: "PATCH") do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

 <div class="field">
      <b>Tag</b><br />

      <% @tags.each do |tag|%>
        <%= form.radio_button :tag, tag.name %> <%=tag.name%> <br />
      <% end%>

</div>

  <div class="actions">
    <%= form.submit "Update" %>
  </div>


<% end %>

<%# link_to 'Show', @report %> 
<%# link_to 'Back', reports_path %>
